@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth ;
}

p {
  font-weight: 300;
  color: #111;
}
/* NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .7s;
  z-index: 1000;
}
header.sticky {
  background: rgba(255, 255, 255, .5);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}
header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
} 
header .logo span {
  color: #ff0157;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/bg.jpg');
  background-size: cover;
}
.banner .content {
  max-width: 1000px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5em;
  color: #fff;
  letter-spacing: 1px;
  transition: 1s;
}
.banner .content .text,
.banner .content #btn-scroll {
  transition: 1s;
}
.banner .content .title.active {
  opacity: 0;
  transform: translateX(100px);
}
.banner .content .text.active {
  opacity: 0;
  transform: translateX(-100px);
}
.banner .content #btn-scroll.active {
  opacity: 0;
  transform: translateY(-50px);
}
.title {
  text-align: center;
  color: #111;
}
.banner .content h2:hover {
  letter-spacing: 7px;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: .5s;
}
.btn:hover {
  letter-spacing: 6px;
}

/* ABOUT */
.about {
  padding: 100px;
}
.about .row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .row .col50 {
  position: relative;
  width: 48%;
}
.about .row .col50 .title-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
  transition: 2s ease-in-out;
}
.about .row .col50 #title-text-about.active {
  opacity: 0;
  transform: translateX(500px);
}
.about .row .col50 .text-about {
  transition: 2s ease-in-out;
}
.about .row .col50 .text-about.active {
  opacity: 0;
  transform: translateX(-300px);
}
.about .row .col50 .title-text:hover {
  letter-spacing: 5px;
}
.title-text span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
.about .row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 2s ease-in-out;
}
.about .row .col50 #img-box-about.active {
  opacity: 0;
  transform: translateX(300px);
}
.about .row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MENU */
.menu {
  padding: 100px;
  width: 100%;
}
.menu .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.menu .content .box {
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 10px 35px rgba(0, 0, 0, .08);
  transform-style: preserve-3d;
  transition: 1s;
  perspective: 600px;  
}
.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text {
  padding: 15px 0 5px;
}
.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
}
.menu .content .box .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
  transition: 1s; 
}
.menu .content .box:hover .front {
  transform: rotateX(-180deg);
  opacity: 0;
}
.menu .content .box .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#ff0157;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.menu .content .box .back h3 {
  color: #fff;
}

.menu .content .box .back::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.menu .content .box:hover .back {
  transform: rotateX(0deg);
  opacity: 1;
}
.menu .title #title-text-menu,
.menu .title #text-menu,
.menu #btn-menu,
.menu .content .box1,
.menu .content .box2,
.menu .content .box3,
.menu .content .box4,
.menu .content .box5,
.menu .content .box6 {
  transition: 2s ease-in-out;
}
.menu .title #title-text-menu.active {
  opacity: 0;
  transform: translateX(500px);
}
.menu .title #text-menu.active {
  opacity: 0;
  transform: translateX(-500px);
}
.menu #btn-menu.active {
  opacity: 0;
}
.menu .content .box1.active,
.menu .content .box4.active {
  opacity: 0;
  transform: translateX(-500px);
}
.menu .content .box2.active,
.menu .content .box5.active {
  opacity: 0;
  transform: translateY(300px);
}
.menu .content .box3.active,
.menu .content .box6.active {
  opacity: 0;
  transform: translateX(500px);
}

/* EXPERT */
.expert {
  width: 100%;
  padding: 100px;
  text-align: center;
}
.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .text {
  padding: 15px 0 5px;
}
.expert .title #title-text-expert,
.expert .title #text-expert,
.expert .content .box1-expert,
.expert .content .box2-expert,
.expert .content .box3-expert,
.expert .content .box4-expert {
  transition: 2s ease-in-out;
}
.expert .title #title-text-expert.active {
  opacity: 0;
  transform: translateX(-500px);
}
.expert .title #text-expert.active {
  opacity: 0;
  transform: translateX(500px);
}
.expert .content .box1-expert.active,
.expert .content .box2-expert.active,
.expert .content .box3-expert.active,
.expert .content .box4-expert.active {
  opacity: 0;
  transform: translateY(-300px);
}

/* TESTIMONIALS */
.testimonials {
  padding: 100px;
  width: 100%;
  text-align: center;
  background: url('./images/bg2.jpg');
  background-size: cover;
  transition: 1s
}
.testimonials.active {
  opacity: 0;
}
.white .title-text,
.white p {
  color: #fff;
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
.testimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}
.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600 ;
}
.testimonials .title #title-text-testi,
.testimonials .title #text-testi,
.testimonials .content #box1-testi,
.testimonials .content #box2-testi,
.testimonials .content #box3-testi {
  transition: 2s ease-in-out;
}
.testimonials .title #title-text-testi.active {
  opacity: 0;
  transform: translateY(-300px);
}
.testimonials .title #text-testi.active {
  opacity: 0;
  transform: translateX(-500px);
}
.testimonials .content #box1-testi.active {
  opacity: 0;
  transform: translateX(-500px);
}
.testimonials .content #box2-testi.active {
  opacity: 0;
  transform: translateY(200px);
}
.testimonials .content #box3-testi.active {
  opacity: 0;
  transform: translateX(500px);
}

/* CONTACT */
.contact {
  padding: 100px;
  width: 100%;
  background: url('./images/bg3.jpg');
  background-size: cover;
  background-position: center;
}
.contact .contact-form {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .1);
  max-width: 500px;
  margin-top: 50px;
}
.contact-form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contact-form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .inputBox input,
.contact-form .inputBox textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
.contact-form .inputBox input[type='submit'] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.contact .title #title-text-contact,
.contact .title #text-contact,
.contact .contact-form {
  transition: 2s ease-in-out;
}
.contact .title #title-text-contact.active {
  opacity: 0;
  transform: translateY(-200px);
}
.contact .title #text-contact.active {
  opacity: 0;
  transform: translateY(200px);
}
.contact .contact-form.active {
  opacity: 0;
  transform: scale(0);
  transform: translateX(-500px)
} 

/* FOOTER */
.footer {
  padding: 8px 40px;
  border-top: 2px solid rgba(0, 0, 0, .1);
  text-align: center;
}
.footer p {
  color: #333;
}
.footer a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;  
}

/* RESPONSIVE */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: 52%;
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .8);
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
    font-weight: 400;
  }
  .menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url('./images/menu.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #111;
  }
  .menu-toggle.active {
    background: url('./images/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center ;
  }
  header.sticky .menu-toggle{
    filter: invert(1);
  }
  .about,
  .menu,
  .expert,
  .testimonials,
  .contact {
    padding: 20px;
  }
  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
  .about .row {
    flex-direction: column;
  }
  .about .row .col50 {
    position: relative;
    width: 100%;
  }
  .about .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .title-text {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }
  .testimonials .content .box {
    margin: 10px;
    padding: 20px;
  }
  .contact .contact-form {
    padding: 20px 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .banner .content h2 {
    font-size: 2.1em;
    color: #fff;
  }
}